* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    border: solid black 1px;
    margin: 30px;
    padding: 35px;
}

h1 {
    /* text-align: center; */
}

h2 {
    text-align: center;
}

.professional-summary {
    margin: 20px;
}

.candidate-basic-skills {
    margin: 20px;
}

.skills-bullets {
    /* margin: none; */
    text-align: left;
}

.job {
    margin: 20px 0;
}